@import "tailwindcss";

@theme {
  --color-main-red: #662222;
  --color-accent-wine: #842A3B;
  --color-highlight-rose: #A3485A;
  --color-vanilla: #FCF6D9;
  
  --font-dm-sans: "DM Sans", sans-serif;
  --font-pinyon: "Pinyon Script", cursive;
}

body {
  margin: 0;
  font-family: var(--font-dm-sans);
  background-color: var(--color-main-red);
  color: var(--color-vanilla);
  overflow-x: hidden;
}

/* Custom scrollbar if needed, but keeping it simple for now */
html {
  scroll-behavior: smooth;
}
